/*
    Font Style
*/
/*
    Font Sizes
*/
/*
    Navigation Bar
*/
/*
    Call To Action
*/
/*
    Margin & Padding
*/
/*
    Colors
*/
/*

    Padding

*/
/*

    Margin

*/
/*

    Colors

*/
/*

    Fontsizes

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fontsize()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
#hero-section {
  background: url("../img/eventpage/background.jpg") 50% 50%/cover no-repeat;
  z-index: -1; }
  #hero-section .center {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))) calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))); }
    #hero-section .center .wrapper {
      align-items: flex-start; }
      #hero-section .center .wrapper h1 {
        margin-top: calc(64px + (128 - 64) * ((100vw - 300px) / (1600 - 300)));
        margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        color: #ffffff;
        text-align: left; }
      #hero-section .center .wrapper p {
        color: #ffffff;
        text-align: left;
        margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
      #hero-section .center .wrapper .wrapper {
        display: flex; }
        #hero-section .center .wrapper .wrapper .cta--small {
          background: #3b5998;
          color: #ffffff;
          border: 1px solid #3b5998; }
          #hero-section .center .wrapper .wrapper .cta--small:hover {
            border: 1px solid #ffffff;
            background: #ffffff;
            color: #030406; }
        #hero-section .center .wrapper .wrapper .cta--transparent {
          background: transparent;
          color: #ffffff;
          border: 1px solid #ffffff;
          margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }

#events-section {
  position: relative; }
  #events-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #events-section .center {
    display: flex;
    flex-direction: column;
    padding: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))); }
    #events-section .center .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
      #events-section .center .wrapper h3 {
        color: #ffffff;
        margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
      #events-section .center .wrapper p {
        color: #aaaaaa;
        font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-align: left; }
    #events-section .center .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 30px;
      margin-bottom: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))); }
      #events-section .center .grid-wrapper .item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
        #events-section .center .grid-wrapper .item-wrapper .item-img {
          width: 100%;
          height: 150px;
          margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
          position: relative; }
          #events-section .center .grid-wrapper .item-wrapper .item-img .promo {
            top: 10px;
            left: -2px;
            position: absolute;
            padding: 4px 8px;
            background: #fe8600;
            font-family: "Lato", sans-serif;
            font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
        #events-section .center .grid-wrapper .item-wrapper #img-1 {
          background: url("../img/eventpage/1_cafe_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-2 {
          background: url("../img/eventpage/2_bar_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-3 {
          background: url("../img/eventpage/3_outdoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-4 {
          background: url("../img/eventpage/4_indoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-5 {
          background: url("../img/eventpage/5_indoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-6 {
          background: url("../img/eventpage/6_indoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-7 {
          background: url("../img/eventpage/7_bar_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-8 {
          background: url("../img/eventpage/8_indoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper #img-9 {
          background: url("../img/eventpage/9_outdoor_event.jpg") 50% 50%/cover no-repeat; }
        #events-section .center .grid-wrapper .item-wrapper .content--wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%; }
          #events-section .center .grid-wrapper .item-wrapper .content--wrapper h4 {
            font-family: "Lato", sans-serif;
            color: #ffffff;
            padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
            margin-bottom: 4px; }
          #events-section .center .grid-wrapper .item-wrapper .content--wrapper .date {
            color: #ffffff;
            padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
            margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
            font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
            line-height: normal; }
          #events-section .center .grid-wrapper .item-wrapper .content--wrapper p {
            color: #aaaaaa;
            text-align: left;
            padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
            margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
            line-height: normal; }
          #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
            margin-top: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
            #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .contact, #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .hours {
              flex: 1;
              margin: 0;
              padding: 0;
              color: #ffffff;
              white-space: nowrap;
              font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
              line-height: normal; }
              #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .contact i, #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .hours i {
                margin-right: 6px; }
            #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .contact {
              padding-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
              border-right: 1px solid rgba(255, 255, 255, 0.1); }
            #events-section .center .grid-wrapper .item-wrapper .content--wrapper .store--info .hours {
              text-align: right;
              padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }

#subscribe-section {
  position: relative; }
  #subscribe-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fe8600;
    z-index: -1; }
  #subscribe-section .center {
    text-align: center;
    padding: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #subscribe-section .center h2 {
      color: #030406; }
    #subscribe-section .center p {
      color: #030406;
      margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #subscribe-section .center .center {
      display: flex;
      padding: 0 calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
      #subscribe-section .center .center input {
        flex: 1;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        color: #aaaaaa;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 6px;
        margin-right: 6px;
        border-color: rgba(0, 0, 0, 0.1); }
      #subscribe-section .center .center .cta--small {
        background: #030406;
        color: #ffffff; }
        #subscribe-section .center .center .cta--small:hover {
          background: #ffffff;
          color: #030406; }

@media only screen and (max-width: 499px) {
  #hero-section .center .wrapper .wrapper {
    flex-direction: column; }
    #hero-section .center .wrapper .wrapper .cta--small {
      width: 180px;
      margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #hero-section .center .wrapper .wrapper .cta--transparent {
      margin: 0; }
  #events-section .center .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  #subscribe-section .center .center {
    flex-direction: column;
    align-items: center; }
    #subscribe-section .center .center input {
      width: 100%;
      margin-right: 0;
      margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300))); } }

@media only screen and (min-width: 500px) and (max-width: 728px) {
  #subscribe-section .center .center {
    flex-direction: column;
    align-items: center; }
    #subscribe-section .center .center input {
      width: 100%;
      margin-right: 0;
      margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300))); } }
