/*

    Colors

*/
/*

    Font Properties

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fontsize()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
/*

	CSS Style for the Hero Section

*/
#hero-section {
  padding: 0;
  overflow: hidden;
  background: url("../img/homepage/hero-image.jpg") 50% 50%/cover no-repeat;
  z-index: -1; }
  #hero-section .center-wrapper {
    padding: calc(60px + (240 - 60) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #hero-section .center-wrapper .cta-lrg {
      background: #fe8600;
      color: #030406; }
      #hero-section .center-wrapper .cta-lrg:hover {
        background: #ffffff;
        color: #030406; }

#delivery-option-section {
  position: relative; }
  #delivery-option-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #delivery-option-section .center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #delivery-option-section .center-wrapper .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: calc(30px + (200 - 30) * ((100vw - 300px) / (1600 - 300))); }
      #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-1, #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-2, #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-3 {
          width: 100%;
          height: 100px;
          margin-bottom: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-1 {
          background: url("../img/homepage/delivery-options/foodpanda-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-2 {
          background: url("../img/homepage/delivery-options/grabfood-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-3 {
          background: url("../img/homepage/delivery-options/yangond2d-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper .cta-sml {
          background: #fe8600;
          color: #030406; }
          #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper .cta-sml:hover {
            background: #ffffff;
            color: #030406; }

#order-pickup-section {
  padding: 0 !important;
  position: relative; }
  #order-pickup-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #order-pickup-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
    #order-pickup-section .grid-wrapper .item-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))); }
      #order-pickup-section .grid-wrapper .item-wrapper h2, #order-pickup-section .grid-wrapper .item-wrapper .superscript, #order-pickup-section .grid-wrapper .item-wrapper .caption {
        color: #030406;
        text-shadow: none;
        text-align: center; }
      #order-pickup-section .grid-wrapper .item-wrapper h2 {
        white-space: nowrap; }
      #order-pickup-section .grid-wrapper .item-wrapper .superscript {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300))); }
      #order-pickup-section .grid-wrapper .item-wrapper .caption {
        margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #order-pickup-section .grid-wrapper .item-wrapper {
      position: relative; }
      #order-pickup-section .grid-wrapper .item-wrapper::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: -1; }
      #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        max-width: 0; }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .cta-sml {
          background: #3b5998;
          color: #ffffff; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .cta-sml:hover {
            background: #030406;
            color: #ffffff; }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .or {
          font-weight: 700;
          background: #030406;
          border-radius: 50%;
          padding: calc(6px + (6 - 6) * ((100vw - 300px) / (1600 - 300)));
          margin: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300)));
          font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
          line-height: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number {
          font-weight: 900;
          color: #fe8600;
          white-space: nowrap;
          text-transform: uppercase;
          position: relative; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number::before {
            content: "";
            position: absolute;
            width: 120%;
            height: 200%;
            left: -5%;
            top: -50%;
            background: url("../img/brush-effects/brush-effect-01.png") 50% 50%/contain no-repeat;
            z-index: -1; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number::after {
            content: "CALL";
            position: absolute;
            color: #030406;
            font-weight: 400;
            left: 0;
            top: -80%;
            font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
            line-height: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300))); }
    #order-pickup-section .grid-wrapper .item-wrapper:last-child {
      position: relative; }
      #order-pickup-section .grid-wrapper .item-wrapper:last-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/homepage/patterned-background.jpg") 50% 50%/cover no-repeat; }
      #order-pickup-section .grid-wrapper .item-wrapper:last-child .cta-sml {
        background: #030406;
        color: #ffffff; }
        #order-pickup-section .grid-wrapper .item-wrapper:last-child .cta-sml:hover {
          background: #ffffff;
          color: #030406; }

#events-section {
  position: relative; }
  #events-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fe8600;
    z-index: -1; }
  #events-section .center-wrapper {
    text-align: center;
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #events-section .center-wrapper h2, #events-section .center-wrapper .caption {
      color: #030406;
      text-shadow: none; }
    #events-section .center-wrapper .caption {
      margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #events-section .center-wrapper .cta-sml {
      background: #030406;
      color: #ffffff; }
      #events-section .center-wrapper .cta-sml:hover {
        background: #ffffff;
        color: #030406; }

#subscribe-section {
  position: relative; }
  #subscribe-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #subscribe-section .center-wrapper {
    text-align: center;
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #subscribe-section .center-wrapper .caption {
      margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #subscribe-section .center-wrapper .center-wrapper {
      display: flex;
      padding: 0 calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
      #subscribe-section .center-wrapper .center-wrapper input {
        flex: 1;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        color: #aaaaaa;
        white-space: nowrap;
        text-transform: uppercase;
        padding: calc(6px + (6 - 6) * ((100vw - 300px) / (1600 - 300)));
        margin-right: calc(6px + (6 - 6) * ((100vw - 300px) / (1600 - 300))); }
      #subscribe-section .center-wrapper .center-wrapper .cta-sml {
        background: #fe8600;
        color: #030406; }
        #subscribe-section .center-wrapper .center-wrapper .cta-sml:hover {
          background: #ffffff;
          color: #030406; }

/* Smartphones */
@media only screen and (max-width: 728px) {
  #delivery-option-section .center-wrapper .grid-wrapper {
    grid-template-columns: repeat(1, auto); }
  #order-pickup-section .grid-wrapper {
    grid-template-columns: repeat(1, auto); }
    #order-pickup-section .grid-wrapper .center-wrapper {
      flex-direction: column; }
  #subscribe-section .center-wrapper .center-wrapper {
    flex-direction: column;
    align-items: center; }
    #subscribe-section .center-wrapper .center-wrapper input {
      width: 100%;
      margin-right: 0;
      margin-bottom: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300))); } }
