/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

    Font Colors

*/
/*

  Background Color

*/
/*

  Highlight Color

*/
/*


    setting margin: 0 auto;

*/
/*


    setting fontsize

*/
/*


    setting lineheight property - call in set-fs()

*/
/*

    setting margin-bottom

*/
/*

    setting margin-top

*/
/*

    setting padding

*/
/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

	Font Style for Homepage

*/
#homepage .page-title {
  font-family: "Oswald", sans-serif;
  color: #fdfdfd;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 32px; }
  @media screen and (min-width: 500px) {
    #homepage .page-title {
      font-size: 100px;
      line-height: 100px; } }
  @media screen and (min-width: 768px) {
    #homepage .page-title {
      font-size: 120px;
      line-height: 120px; } }
  @media screen and (min-width: 1024px) {
    #homepage .page-title {
      font-size: 130px;
      line-height: 130px; } }
  @media screen and (min-width: 500px) {
    #homepage .page-title {
      margin-bottom: 48px; } }
  @media screen and (min-width: 768px) {
    #homepage .page-title {
      margin-bottom: 64px; } }
  @media screen and (min-width: 1024px) {
    #homepage .page-title {
      margin-bottom: 90px; } }

#homepage .section-title {
  font-family: "Oswald", sans-serif;
  color: #fdfdfd;
  text-transform: uppercase;
  font-size: 48px; }
  @media screen and (min-width: 500px) {
    #homepage .section-title {
      font-size: 48px; } }
  @media screen and (min-width: 768px) {
    #homepage .section-title {
      font-size: 58px; } }
  @media screen and (min-width: 1024px) {
    #homepage .section-title {
      font-size: 68px; } }

#homepage .section-detail {
  font-family: "Lato", sans-serif;
  color: #fdfdfd;
  font-weight: 300;
  font-size: 20px; }
  @media screen and (min-width: 500px) {
    #homepage .section-detail {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    #homepage .section-detail {
      font-size: 28px; } }
  @media screen and (min-width: 1024px) {
    #homepage .section-detail {
      font-size: 40px; } }

/*

	CSS Style for the Hero Section

*/
#homepage > #hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/main-image.jpg") 50% 50%/cover no-repeat;
  z-index: -1; }
  #homepage > #hero-img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }

#homepage > #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px; }
  @media screen and (min-width: 500px) {
    #homepage > #hero {
      margin-top: 130px; } }
  @media screen and (min-width: 768px) {
    #homepage > #hero {
      margin-top: 130px; } }
  @media screen and (min-width: 1024px) {
    #homepage > #hero {
      margin-top: 130px; } }

#hero > .center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

#hero .hero-cta {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fdfdfd;
  font-size: 14px;
  padding: 12px 24px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4; }
  @media screen and (min-width: 500px) {
    #hero .hero-cta {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    #hero .hero-cta {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    #hero .hero-cta {
      font-size: 20px; } }
  @media screen and (min-width: 500px) {
    #hero .hero-cta {
      padding: 15px 30px; } }
  @media screen and (min-width: 768px) {
    #hero .hero-cta {
      padding: 20px 40px; } }
  @media screen and (min-width: 1024px) {
    #hero .hero-cta {
      padding: 20px 40px; } }
  #hero .hero-cta span {
    margin-right: 16px;
    transition: all 0.3s; }
  #hero .hero-cta::before, #hero .hero-cta::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  #hero .hero-cta::before {
    opacity: 0;
    background: #030406;
    transform: scale(1.3, 1.3); }
  #hero .hero-cta:hover::before {
    opacity: 1;
    transform: scale(1, 1); }
  #hero .hero-cta::after {
    transition: all 0.3s;
    top: -4px;
    left: -4px;
    border: 4px solid white;
    background: rgba(3, 4, 6, 0.1); }
  #hero .hero-cta:hover::after {
    transform: scale(0, 0);
    opacity: 0; }
  #hero .hero-cta:hover {
    color: #fe8600; }

/*

	CSS Style for the Follow us on Facebook Section

*/
#homepage > #facebook {
  position: relative; }
  #homepage > #facebook::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #030406; }

#facebook > .center-wrapper {
  max-width: 1400px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

#facebook .title-wrapper,
#facebook .detail-wrapper {
  flex: 1;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#facebook .section-title {
  color: #fdfdfd; }
  #facebook .section-title span {
    color: #ff7a07;
    white-space: nowrap;
    transition: all 0.3s; }
    #facebook .section-title span i {
      font-size: 48px; }
      @media screen and (min-width: 500px) {
        #facebook .section-title span i {
          font-size: 48px; } }
      @media screen and (min-width: 768px) {
        #facebook .section-title span i {
          font-size: 58px; } }
      @media screen and (min-width: 1024px) {
        #facebook .section-title span i {
          font-size: 68px; } }
  #facebook .section-title:hover {
    color: #fe8600; }
  #facebook .section-title:hover span {
    color: #fdfdfd; }
  #facebook .section-title::before {
    border-top: 4px solid #fffffe;
    border-bottom: 4px solid #fffffe; }
  #facebook .section-title::after {
    border-top: 4px solid #ff7a07;
    border-bottom: 4px solid #ff7a07; }

#facebook .section-detail > .call-to-action {
  color: #fe8600; }
  #facebook .section-detail > .call-to-action::before {
    background: #fffffe; }

/*

	CSS Style for the Callouts Section

*/
#callouts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  height: 550px;
  padding: 0; }

#callouts .section {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px; }
  @media screen and (min-width: 500px) {
    #callouts .section {
      padding: 32px; } }
  @media screen and (min-width: 768px) {
    #callouts .section {
      padding: 48px; } }
  @media screen and (min-width: 1024px) {
    #callouts .section {
      padding: 48px; } }
  #callouts .section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

#callouts .section-title {
  color: #030406;
  margin-bottom: 32px; }
  #callouts .section-title span {
    white-space: nowrap; }

#callouts .section-detail {
  color: #030406; }

#callouts .cta-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: auto; }

#delivery-location {
  position: relative; }
  #delivery-location::before {
    background: #fffffe; }
  #delivery-location #we-deliver-cta {
    position: relative; }
    #delivery-location #we-deliver-cta::before {
      background: #ff7a07; }

#sign-up {
  position: relative; }
  #sign-up::before {
    background: #ff7a07; }
  #sign-up #sign-up-cta {
    position: relative; }
    #sign-up #sign-up-cta::before {
      background: #fffffe; }

/*

	CSS Style for the Gallery Section

*/
#gallery {
  background: url("../img/section-gallery-img.jpg") 50% 20%/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#gallery .section-title {
  color: #fdfdfd; }
  #gallery .section-title:hover {
    color: #fe8600; }
  #gallery .section-title::before {
    border-top: 4px solid #fffffe;
    border-bottom: 4px solid #fffffe; }
  #gallery .section-title::after {
    border-top: 4px solid #ff7a07;
    border-bottom: 4px solid #ff7a07; }

/*

	CSS Style for the Store Details

*/
#store {
  background: #fffffe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

#store > .store-info {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #store > .store-info .icons {
    font-size: 30px;
    margin-bottom: 48px; }
    @media screen and (min-width: 500px) {
      #store > .store-info .icons {
        font-size: 30px; } }
    @media screen and (min-width: 768px) {
      #store > .store-info .icons {
        font-size: 40px; } }
    @media screen and (min-width: 1024px) {
      #store > .store-info .icons {
        font-size: 50px; } }

#store > .store-info > .section-detail {
  color: #030406;
  line-height: 1.5;
  text-align: center;
  font-weight: 700; }
  #store > .store-info > .section-detail span {
    font-weight: 300; }

#store .divider {
  width: 2px;
  height: 140px;
  margin: 0 24px;
  background-color: #000; }

/* Smartphones */
@media only screen and (max-width: 600px) {
  #facebook .center-wrapper {
    flex-direction: column;
    align-items: flex-start; }
    #facebook .center-wrapper .title-wrapper,
    #facebook .center-wrapper .detail-wrapper {
      padding: 0; }
    #facebook .center-wrapper .title-wrapper {
      margin-bottom: 32px; }
  #callouts {
    flex-direction: column;
    height: auto; }
    #callouts .section .center-wrapper {
      margin: 0; }
    #callouts .section .cta-wrapper {
      justify-content: flex-start;
      margin-top: 32px; }
  #store {
    flex-direction: column; }
    #store .store-info {
      padding: 16px 0; }
      #store .store-info .icons {
        margin-bottom: 32px; }
    #store .divider {
      width: 200px;
      height: 1px;
      margin: 20px 0; } }

/* Tablet */
@media (min-width: 601px) and (max-width: 768px) {
  #callouts {
    max-height: 550px; } }

/* Landscape */
@media (max-height: 500px) {
  #hero-img {
    height: 120% !important; }
  #hero {
    height: 100vh !important;
    padding: 0 !important;
    margin-top: 20px !important; }
    #hero .center-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 32px; } }
    @media screen and (max-height: 500px) and (min-width: 500px) {
      #hero .center-wrapper {
        padding: 32px; } }
    @media screen and (max-height: 500px) and (min-width: 768px) {
      #hero .center-wrapper {
        padding: 48px; } }
    @media screen and (max-height: 500px) and (min-width: 1024px) {
      #hero .center-wrapper {
        padding: 48px; } }

@media (max-height: 500px) {
      #hero .center-wrapper .page-title,
      #hero .center-wrapper .page-title span {
        font-size: 60px;
        line-height: 60px;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); }
      #hero .center-wrapper .page-title span {
        font-size: 50px;
        line-height: 50px; }
      #hero .center-wrapper .page-title {
        margin-bottom: 32px; }
      #hero .center-wrapper .hero-cta {
        padding: 10px 15px; }
  #callouts {
    max-height: 550px; } }
