/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fs()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: #030406;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/*

	Utility Classes

*/
.tt-u {
  text-transform: uppercase; }

.tt-c {
  text-transform: capitalize; }

.no-wrap {
  white-space: nowrap; }

.animated {
  transition: all 0.3s; }

.long-animated {
  transition: all 8s; }

.pos-stat {
  position: static; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.cover {
  width: 100%;
  height: 100%; }

.center {
  margin: 0 auto; }

.stop-scrolling {
  overflow: hidden; }

.cta {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px; }
  @media screen and (min-width: 320) {
    .cta {
      font-size: 16px;
      line-height: 16px; } }
  @media screen and (min-width: 500px) {
    .cta {
      font-size: 18px;
      line-height: 18px; } }
  @media screen and (min-width: 768px) {
    .cta {
      font-size: 20px;
      line-height: 20px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      font-size: 22px;
      line-height: 22px; } }
  @media screen and (min-width: 320) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 500px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 768px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 320) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 500px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 768px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }

i {
  margin-left: 12px; }
  @media screen and (min-width: 320) {
    i {
      margin-left: 12px; } }
  @media screen and (min-width: 500px) {
    i {
      margin-left: 14px; } }
  @media screen and (min-width: 768px) {
    i {
      margin-left: 16px; } }
  @media screen and (min-width: 1024px) {
    i {
      margin-left: 18px; } }

/*

	SECTION

*/
section {
  padding: 20px; }
  @media screen and (min-width: 320) {
    section {
      padding: 32px; } }
  @media screen and (min-width: 500px) {
    section {
      padding: 32px; } }
  @media screen and (min-width: 768px) {
    section {
      padding: 48px; } }
  @media screen and (min-width: 1024px) {
    section {
      padding: 48px; } }

section h1 {
  font-family: "Oswald", sans-serif;
  color: #fdfdfd;
  text-transform: uppercase; }

section h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px; }
  @media screen and (min-width: 320) {
    section h2 {
      font-size: 50px;
      line-height: 50px; } }
  @media screen and (min-width: 500px) {
    section h2 {
      font-size: 60px;
      line-height: 60px; } }
  @media screen and (min-width: 768px) {
    section h2 {
      font-size: 70px;
      line-height: 70px; } }
  @media screen and (min-width: 1024px) {
    section h2 {
      font-size: 80px;
      line-height: 80px; } }

section h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px; }
  @media screen and (min-width: 320) {
    section h3 {
      font-size: 20px;
      line-height: 20px; } }
  @media screen and (min-width: 500px) {
    section h3 {
      font-size: 24px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) {
    section h3 {
      font-size: 28px;
      line-height: 28px; } }
  @media screen and (min-width: 1024px) {
    section h3 {
      font-size: 32px;
      line-height: 32px; } }

section p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px; }
  @media screen and (min-width: 320) {
    section p {
      font-size: 20px;
      line-height: 20px; } }
  @media screen and (min-width: 500px) {
    section p {
      font-size: 24px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) {
    section p {
      font-size: 28px;
      line-height: 28px; } }
  @media screen and (min-width: 1024px) {
    section p {
      font-size: 32px;
      line-height: 32px; } }

/*

	 Underline Animation

*/
.underline {
  position: relative; }
  .underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    top: 70%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: all 0.4s; }
  .underline:hover::before {
    transform: scaleX(1); }

/*


	CHICKEN ROTISSERIE


*/
