/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fs()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: #141414;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/*

	Utility Classes

*/
.tt-u {
  text-transform: uppercase; }

.tt-c {
  text-transform: capitalize; }

.no-wrap {
  white-space: nowrap; }

.animated {
  transition: all 0.3s; }

.long-animated {
  transition: all 8s; }

.pos-stat {
  position: static; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.cover {
  width: 100%;
  height: 100%; }

.center-wrapper {
  margin: 0 auto; }

.stop-scrolling {
  overflow: hidden; }

.cta {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  z-index: 95;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px; }
  @media screen and (min-width: 320) {
    .cta {
      font-size: 16px;
      line-height: 22px; } }
  @media screen and (min-width: 500px) {
    .cta {
      font-size: 18px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) {
    .cta {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      font-size: 22px;
      line-height: 28px; } }
  @media screen and (min-width: 320) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 500px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 768px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 320) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 500px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 768px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    .cta {
      padding-top: 10px;
      padding-bottom: 10px; } }

i {
  margin-left: 12px; }
  @media screen and (min-width: 320) {
    i {
      margin-left: 12px; } }
  @media screen and (min-width: 500px) {
    i {
      margin-left: 14px; } }
  @media screen and (min-width: 768px) {
    i {
      margin-left: 16px; } }
  @media screen and (min-width: 1024px) {
    i {
      margin-left: 18px; } }

/*

	SECTION

*/
section {
  padding: 20px; }
  @media screen and (min-width: 320) {
    section {
      padding: 32px; } }
  @media screen and (min-width: 500px) {
    section {
      padding: 32px; } }
  @media screen and (min-width: 768px) {
    section {
      padding: 48px; } }
  @media screen and (min-width: 1024px) {
    section {
      padding: 48px; } }

main h1 {
  font-family: "Oswald", sans-serif;
  color: #fdfdfd;
  text-transform: uppercase; }

main h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px; }
  @media screen and (min-width: 320) {
    main h2 {
      font-size: 50px;
      line-height: 50px; } }
  @media screen and (min-width: 500px) {
    main h2 {
      font-size: 60px;
      line-height: 60px; } }
  @media screen and (min-width: 768px) {
    main h2 {
      font-size: 70px;
      line-height: 70px; } }
  @media screen and (min-width: 1024px) {
    main h2 {
      font-size: 80px;
      line-height: 80px; } }

main h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px; }
  @media screen and (min-width: 320) {
    main h3 {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (min-width: 500px) {
    main h3 {
      font-size: 24px;
      line-height: 30px; } }
  @media screen and (min-width: 768px) {
    main h3 {
      font-size: 28px;
      line-height: 34px; } }
  @media screen and (min-width: 1024px) {
    main h3 {
      font-size: 32px;
      line-height: 38px; } }

main h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px; }
  @media screen and (min-width: 320) {
    main h4 {
      font-size: 16px;
      line-height: 22px; } }
  @media screen and (min-width: 500px) {
    main h4 {
      font-size: 18px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) {
    main h4 {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (min-width: 1024px) {
    main h4 {
      font-size: 22px;
      line-height: 28px; } }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
  max-width: 1000px;
  margin-bottom: 32px; }
  @media screen and (min-width: 320) {
    .grid {
      margin-bottom: 32px; } }
  @media screen and (min-width: 500px) {
    .grid {
      margin-bottom: 40px; } }
  @media screen and (min-width: 768px) {
    .grid {
      margin-bottom: 48px; } }
  @media screen and (min-width: 1024px) {
    .grid {
      margin-bottom: 56px; } }
  .grid .gr-item {
    background: #141414;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
    .grid .gr-item::before {
      content: "";
      position: absolute;
      width: 105%;
      height: 105%;
      top: -2.5%;
      left: -2.5%;
      z-index: -1;
      background: #fe8600;
      opacity: 0.7; }
    .grid .gr-item .gr-item-img {
      height: 200px;
      margin-bottom: 12px; }
      @media screen and (min-width: 320) {
        .grid .gr-item .gr-item-img {
          margin-bottom: 12px; } }
      @media screen and (min-width: 500px) {
        .grid .gr-item .gr-item-img {
          margin-bottom: 14px; } }
      @media screen and (min-width: 768px) {
        .grid .gr-item .gr-item-img {
          margin-bottom: 16px; } }
      @media screen and (min-width: 1024px) {
        .grid .gr-item .gr-item-img {
          margin-bottom: 18px; } }
    .grid .gr-item .gr-item-detail-wrapper {
      flex: 1;
      padding: 12px;
      margin-bottom: 14px; }
      @media screen and (min-width: 320) {
        .grid .gr-item .gr-item-detail-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 500px) {
        .grid .gr-item .gr-item-detail-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 768px) {
        .grid .gr-item .gr-item-detail-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 1024px) {
        .grid .gr-item .gr-item-detail-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 320) {
        .grid .gr-item .gr-item-detail-wrapper {
          margin-bottom: 14px; } }
      @media screen and (min-width: 500px) {
        .grid .gr-item .gr-item-detail-wrapper {
          margin-bottom: 16px; } }
      @media screen and (min-width: 768px) {
        .grid .gr-item .gr-item-detail-wrapper {
          margin-bottom: 18px; } }
      @media screen and (min-width: 1024px) {
        .grid .gr-item .gr-item-detail-wrapper {
          margin-bottom: 20px; } }
      .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        color: #fe8600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 14px; }
        @media screen and (min-width: 320) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            font-size: 16px;
            line-height: 22px; } }
        @media screen and (min-width: 500px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            font-size: 18px;
            line-height: 24px; } }
        @media screen and (min-width: 768px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            font-size: 20px;
            line-height: 26px; } }
        @media screen and (min-width: 1024px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            font-size: 22px;
            line-height: 28px; } }
        @media screen and (min-width: 320) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            margin-bottom: 14px; } }
        @media screen and (min-width: 500px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            margin-bottom: 16px; } }
        @media screen and (min-width: 768px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            margin-bottom: 18px; } }
        @media screen and (min-width: 1024px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-name {
            margin-bottom: 20px; } }
      .grid .gr-item .gr-item-detail-wrapper .gr-item-desc {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        color: #fdfdfd;
        font-size: 12px;
        line-height: 18px; }
        @media screen and (min-width: 320) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-desc {
            font-size: 12px;
            line-height: 18px; } }
        @media screen and (min-width: 500px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-desc {
            font-size: 14px;
            line-height: 20px; } }
        @media screen and (min-width: 768px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-desc {
            font-size: 16px;
            line-height: 22px; } }
        @media screen and (min-width: 1024px) {
          .grid .gr-item .gr-item-detail-wrapper .gr-item-desc {
            font-size: 18px;
            line-height: 24px; } }
    .grid .gr-item .gr-price-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 12px; }
      @media screen and (min-width: 320) {
        .grid .gr-item .gr-price-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 500px) {
        .grid .gr-item .gr-price-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 768px) {
        .grid .gr-item .gr-price-wrapper {
          padding: 14px; } }
      @media screen and (min-width: 1024px) {
        .grid .gr-item .gr-price-wrapper {
          padding: 14px; } }
      .grid .gr-item .gr-price-wrapper .gr-price {
        font-family: "Lato", sans-serif;
        color: #fe8600;
        font-weight: 400;
        text-transform: uppercase;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 18px; }
        @media screen and (min-width: 320) {
          .grid .gr-item .gr-price-wrapper .gr-price {
            font-size: 12px;
            line-height: 18px; } }
        @media screen and (min-width: 500px) {
          .grid .gr-item .gr-price-wrapper .gr-price {
            font-size: 14px;
            line-height: 20px; } }
        @media screen and (min-width: 768px) {
          .grid .gr-item .gr-price-wrapper .gr-price {
            font-size: 16px;
            line-height: 22px; } }
        @media screen and (min-width: 1024px) {
          .grid .gr-item .gr-price-wrapper .gr-price {
            font-size: 18px;
            line-height: 24px; } }
        .grid .gr-item .gr-price-wrapper .gr-price span {
          color: #fdfdfd;
          font-size: 10px;
          line-height: 10px; }
          @media screen and (min-width: 320) {
            .grid .gr-item .gr-price-wrapper .gr-price span {
              font-size: 10px;
              line-height: 10px; } }
          @media screen and (min-width: 500px) {
            .grid .gr-item .gr-price-wrapper .gr-price span {
              font-size: 12px;
              line-height: 12px; } }
          @media screen and (min-width: 768px) {
            .grid .gr-item .gr-price-wrapper .gr-price span {
              font-size: 12px;
              line-height: 12px; } }
          @media screen and (min-width: 1024px) {
            .grid .gr-item .gr-price-wrapper .gr-price span {
              font-size: 12px;
              line-height: 12px; } }

main p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px; }
  @media screen and (min-width: 320) {
    main p {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (min-width: 500px) {
    main p {
      font-size: 24px;
      line-height: 30px; } }
  @media screen and (min-width: 768px) {
    main p {
      font-size: 28px;
      line-height: 34px; } }
  @media screen and (min-width: 1024px) {
    main p {
      font-size: 32px;
      line-height: 38px; } }

/*

	 Underline Animation

*/
.underline {
  position: relative; }
  .underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    top: 70%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: all 0.4s; }
  .underline:hover::before {
    transform: scaleX(1); }

/*


	CHICKEN ROTISSERIE


*/
