/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

    Font Colors

*/
/*

  Background Color

*/
/*

  Highlight Color

*/
/*


    setting margin: 0 auto;

*/
/*


    setting fontsize

*/
/*


    setting lineheight property - call in set-fs()

*/
/*

    setting margin-bottom

*/
/*

    setting margin-top

*/
/*

    setting padding

*/
/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

	 CHANGING THE NAVIGATION COLORS

*/
#desktop-nav a {
  color: #030406; }

#desktop-nav > .nav-items > .nav-item > .nav-sub-items::before {
  background: rgba(255, 255, 255, 0.7); }

/*

	 PRODUCT GRID SETTING FOR ROTISSERIE

*/
#rotisserie .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto; }

#rotisserie .product-grid > .product-item {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#rotisserie .product-grid > .product-item > .product-image {
  height: 100px;
  margin-bottom: 16px; }

#rotisserie .product-grid > .product-item > #product-image-1 {
  background: url("../img/rotisserie-original-chicken.jpg") 50% 65%/cover no-repeat; }

#rotisserie .product-grid > .product-item > #product-image-2 {
  background: url("../img/rotisserie-chili-chicken.jpg") 50% 65%/cover no-repeat; }

#rotisserie .product-grid > .product-item > #product-image-3 {
  background: url("../img/rotisserie-pork-neck.jpg") 50% 50%/cover no-repeat; }

#rotisserie .product-grid > .product-item > .product-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #030406;
  text-transform: capitalize;
  font-size: 26px;
  padding: 14px;
  padding: 0 14px;
  position: relative; }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-title {
      font-size: 26px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-title {
      font-size: 32px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-title {
      font-size: 32px; } }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-title {
      padding: 14px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-title {
      padding: 18px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-title {
      padding: 18px; } }
  #rotisserie .product-grid > .product-item > .product-title span {
    position: absolute;
    top: 0;
    color: #ee1b24;
    font-size: 10px; }
    @media screen and (min-width: 500px) {
      #rotisserie .product-grid > .product-item > .product-title span {
        font-size: 10px; } }
    @media screen and (min-width: 768px) {
      #rotisserie .product-grid > .product-item > .product-title span {
        font-size: 13px; } }
    @media screen and (min-width: 1024px) {
      #rotisserie .product-grid > .product-item > .product-title span {
        font-size: 13px; } }

#rotisserie .product-grid > .product-item > .product-detail {
  font-family: "Lato", sans-serif;
  color: #030406;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 24px;
  padding: 14px; }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      font-size: 20px; } }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      margin-bottom: 24px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      margin-bottom: 32px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      margin-bottom: 48px; } }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      padding: 14px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      padding: 18px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-detail {
      padding: 18px; } }

#rotisserie .product-grid > .product-item > .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff7a07;
  position: relative; }

#rotisserie .product-grid > .product-item > .product-price > .divider {
  position: absolute;
  width: 1px;
  height: 80%;
  left: 50%;
  background: #fffffe; }

#rotisserie .product-grid > .product-item > .product-price > .price {
  font-family: "Lato", sans-serif;
  color: #fdfdfd;
  font-weight: 300;
  padding: 10px 10px;
  white-space: nowrap;
  font-size: 14px; }
  @media screen and (min-width: 500px) {
    #rotisserie .product-grid > .product-item > .product-price > .price {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    #rotisserie .product-grid > .product-item > .product-price > .price {
      font-size: 18px; } }
  @media screen and (min-width: 1024px) {
    #rotisserie .product-grid > .product-item > .product-price > .price {
      font-size: 18px; } }

#contact-info > .section-detail {
  font-family: "Lato", sans-serif;
  color: #030406;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 20px; }
  @media screen and (min-width: 500px) {
    #contact-info > .section-detail {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    #contact-info > .section-detail {
      font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    #contact-info > .section-detail {
      font-size: 24px; } }
  @media screen and (min-width: 500px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  @media screen and (min-width: 768px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  @media screen and (min-width: 1024px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  #contact-info > .section-detail span {
    font-weight: 700;
    white-space: nowrap; }
  #contact-info > .section-detail #facebook-cta,
  #contact-info > .section-detail #email-cta {
    font-weight: 700;
    color: #030406;
    display: inline-block;
    font-size: 14px; }
    @media screen and (min-width: 500px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 20px; } }
    @media screen and (min-width: 768px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 24px; } }
    @media screen and (min-width: 1024px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 24px; } }
    #contact-info > .section-detail #facebook-cta::before,
    #contact-info > .section-detail #email-cta::before {
      background: #ff7a07; }

#delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ff7a07; }

#delivery .section-title {
  font-family: "Oswald", sans-serif;
  color: #030406;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px; }
  @media screen and (min-width: 500px) {
    #delivery .section-title {
      font-size: 48px; } }
  @media screen and (min-width: 768px) {
    #delivery .section-title {
      font-size: 58px; } }
  @media screen and (min-width: 1024px) {
    #delivery .section-title {
      font-size: 68px; } }
  #delivery .section-title span {
    white-space: nowrap; }
  #delivery .section-title:hover {
    color: #fdfdfd; }

@media only screen and (max-width: 500px) {
  #rotisserie .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  #rotisserie .product-grid > .product-item > .product-title span {
    top: -10px; } }
