/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

    Font Colors

*/
/*

  Background Color

*/
/*

  Highlight Color

*/
/*


    setting margin: 0 auto;

*/
/*


    setting fontsize

*/
/*


    setting lineheight property - call in set-fs()

*/
/*

    setting margin-bottom

*/
/*

    setting margin-top

*/
/*

    setting padding

*/
/*

    Font Properties

*/
/*


    Font Sizes Params (fontsize, lineheight)


*/
/*

	 CHANGING THE NAVIGATION COLORS

*/
#desktop-nav a {
  color: #030406; }

#desktop-nav > .nav-items > .nav-item > .nav-sub-items::before {
  background: rgba(255, 255, 255, 0.7); }

/*

	 PRODUCT GRID SETTING FOR ROTISSERIE

*/
#sides .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto; }

#sides .product-grid > .product-item {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 130px; }

#sides .product-grid > .product-item > .product-image {
  width: 120px;
  height: 100%; }

#sides .product-grid > .product-item > #product-image-1 {
  background: url("../img/sides/steamed-brocolli-carrots.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > #product-image-2 {
  background: url("../img/sides/shan-dripping-potatoes.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > #product-image-3 {
  background: url("../img/sides/cayenne-spicy-buttercorn.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > #product-image-4 {
  background: url("../img/sides/white-rice.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > #product-image-5 {
  background: url("../img/sides/sticky-rice.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > #product-image-6 {
  background: url("../img/sides/sauce.jpg") 50% 50%/cover no-repeat; }

#sides .product-grid > .product-item > .product-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #030406;
  text-transform: capitalize;
  font-size: 16px;
  padding: 14px;
  flex: 2; }
  @media screen and (min-width: 500px) {
    #sides .product-grid > .product-item > .product-title {
      font-size: 22px; } }
  @media screen and (min-width: 768px) {
    #sides .product-grid > .product-item > .product-title {
      font-size: 22px; } }
  @media screen and (min-width: 1024px) {
    #sides .product-grid > .product-item > .product-title {
      font-size: 22px; } }
  @media screen and (min-width: 500px) {
    #sides .product-grid > .product-item > .product-title {
      padding: 14px; } }
  @media screen and (min-width: 768px) {
    #sides .product-grid > .product-item > .product-title {
      padding: 18px; } }
  @media screen and (min-width: 1024px) {
    #sides .product-grid > .product-item > .product-title {
      padding: 18px; } }
  #sides .product-grid > .product-item > .product-title span {
    font-weight: 300;
    font-size: 14px; }
    @media screen and (min-width: 500px) {
      #sides .product-grid > .product-item > .product-title span {
        font-size: 21px; } }
    @media screen and (min-width: 768px) {
      #sides .product-grid > .product-item > .product-title span {
        font-size: 16px; } }
    @media screen and (min-width: 1024px) {
      #sides .product-grid > .product-item > .product-title span {
        font-size: 16px; } }

#sides .product-grid > .product-item > .product-price {
  position: absolute;
  bottom: 0;
  right: 0; }

#sides .product-grid > .product-item > .product-price > .price {
  font-family: "Lato", sans-serif;
  color: #fdfdfd;
  font-weight: 300;
  padding: 10px 10px;
  background: #ff7a07;
  font-size: 14px; }
  @media screen and (min-width: 500px) {
    #sides .product-grid > .product-item > .product-price > .price {
      font-size: 21px; } }
  @media screen and (min-width: 768px) {
    #sides .product-grid > .product-item > .product-price > .price {
      font-size: 18px; } }
  @media screen and (min-width: 1024px) {
    #sides .product-grid > .product-item > .product-price > .price {
      font-size: 18px; } }

#contact-info > .section-detail {
  font-family: "Lato", sans-serif;
  color: #030406;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 20px; }
  @media screen and (min-width: 500px) {
    #contact-info > .section-detail {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    #contact-info > .section-detail {
      font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    #contact-info > .section-detail {
      font-size: 24px; } }
  @media screen and (min-width: 500px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  @media screen and (min-width: 768px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  @media screen and (min-width: 1024px) {
    #contact-info > .section-detail {
      margin-bottom: 20px; } }
  #contact-info > .section-detail span {
    font-weight: 700;
    white-space: nowrap; }
  #contact-info > .section-detail #facebook-cta,
  #contact-info > .section-detail #email-cta {
    font-weight: 700;
    color: #030406;
    display: inline-block;
    font-size: 14px; }
    @media screen and (min-width: 500px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 20px; } }
    @media screen and (min-width: 768px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 24px; } }
    @media screen and (min-width: 1024px) {
      #contact-info > .section-detail #facebook-cta,
      #contact-info > .section-detail #email-cta {
        font-size: 24px; } }
    #contact-info > .section-detail #facebook-cta::before,
    #contact-info > .section-detail #email-cta::before {
      background: #ff7a07; }

#delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ff7a07; }

#delivery .section-title {
  font-family: "Oswald", sans-serif;
  color: #030406;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px; }
  @media screen and (min-width: 500px) {
    #delivery .section-title {
      font-size: 48px; } }
  @media screen and (min-width: 768px) {
    #delivery .section-title {
      font-size: 58px; } }
  @media screen and (min-width: 1024px) {
    #delivery .section-title {
      font-size: 68px; } }
  #delivery .section-title span {
    white-space: nowrap; }
  #delivery .section-title:hover {
    color: #fdfdfd; }

@media only screen and (max-width: 500px) {
  #sides .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  #sides .product-grid > .product-item {
    height: 110px; } }
