/*

    Colors

*/
/*

    Font Properties

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fontsize()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
#hero-section {
  padding: 0;
  overflow: hidden;
  background: url("../img/menupage/wallpaper/flames.jpg") 50% 50%/cover no-repeat;
  z-index: -1; }
  #hero-section .center-wrapper {
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #hero-section .center-wrapper .cta-sml {
      background: #fe8600;
      color: #030406; }
      #hero-section .center-wrapper .cta-sml:hover {
        background: #ffffff;
        color: #030406; }

#menu-items-section {
  position: relative; }
  #menu-items-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #030406;
    z-index: -1; }
  #menu-items-section .center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #menu-items-section .center-wrapper .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
      margin-bottom: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))); }
      #menu-items-section .center-wrapper .grid-wrapper .item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .item-img {
          width: 100%;
          height: 150px;
          margin-bottom: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-1 {
          background: url("../img/menupage/chicken/1_orig_whole.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-2 {
          background: url("../img/menupage/chicken/2_orig_half.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-3 {
          background: url("../img/menupage/chicken/3_spicy_whole.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-4 {
          background: url("../img/menupage/chicken/4_spicy_half.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-5 {
          background: url("../img/menupage/chicken/5_pork_whole.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-6 {
          background: url("../img/menupage/chicken/6_sandwich_bbqchicken.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-7 {
          background: url("../img/menupage/chicken/7_sandwich_spicygarlicchicken.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-8 {
          background: url("../img/menupage/chicken/8_sandwich_spicygarlicpork.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-9 {
          background: url("../img/menupage/chicken/9_sandiwch_churrig_pork.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-10 {
          background: url("../img/menupage/chicken/10_side_brocolli_carrots.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-11 {
          background: url("../img/menupage/chicken/11_side_roasted potatoes.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-12 {
          background: url("../img/menupage/chicken/12_side_grilled corn_salad.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-13 {
          background: url("../img/menupage/chicken/13_side_pickled cucumbers.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-14 {
          background: url("../img/menupage/chicken/14_sides_steamedrice.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-15 {
          background: url("../img/menupage/chicken/15_sides_stickyrice.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-16 {
          background: url("../img/menupage/chicken/16_sauce_BBQsauce.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-17 {
          background: url("../img/menupage/chicken/17_sauce_periperi.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-18 {
          background: url("../img/menupage/chicken/18_sauce_churrig.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-19 {
          background: url("../img/menupage/chicken/19_sauce_spicygarlicaioli.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-20 {
          background: url("../img/menupage/chicken/20_smalldrinks.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-21 {
          background: url("../img/menupage/chicken/21_largedrinks.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-22 {
          background: url("../img/menupage/chicken/22_package_family A original.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-23 {
          background: url("../img/menupage/chicken/23_package_family A spicy.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper #img-24 {
          background: url("../img/menupage/chicken/24_package_family B.jpg") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .spicy {
          position: relative; }
          #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .spicy::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 120%;
            top: -3px;
            background: url("../img/menupage/rotisserie/chili.png") 50% 50%/cover no-repeat; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .allnew {
          position: relative; }
          #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .allnew::before {
            content: "ALL NEW";
            position: absolute;
            top: -18px;
            font-weight: 400;
            color: #e74c3c;
            font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper h4 {
          color: #fe8600; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .description {
          color: #aaaaaa;
          text-align: left; }
        #menu-items-section .center-wrapper .grid-wrapper .item-wrapper .price {
          font-weight: 700;
          color: #ffffff; }

#delivery-option-section {
  position: relative; }
  #delivery-option-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #delivery-option-section .center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))) calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #delivery-option-section .center-wrapper .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: calc(30px + (200 - 30) * ((100vw - 300px) / (1600 - 300))); }
      #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-1, #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-2, #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-3 {
          width: 100%;
          height: 100px;
          margin-bottom: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-1 {
          background: url("../img/homepage/delivery-options/foodpanda-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-2 {
          background: url("../img/homepage/delivery-options/grabfood-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper #img-3 {
          background: url("../img/homepage/delivery-options/yangond2d-logo.png") 50% 50%/contain no-repeat; }
        #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper .cta-sml {
          background: #fe8600;
          color: #030406; }
          #delivery-option-section .center-wrapper .grid-wrapper .item-wrapper .cta-sml:hover {
            background: #ffffff;
            color: #030406; }

#order-pickup-section {
  padding: 0 !important;
  position: relative; }
  #order-pickup-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141414;
    z-index: -1; }
  #order-pickup-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
    #order-pickup-section .grid-wrapper .item-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: calc(32px + (96 - 32) * ((100vw - 300px) / (1600 - 300))); }
      #order-pickup-section .grid-wrapper .item-wrapper h2, #order-pickup-section .grid-wrapper .item-wrapper .superscript, #order-pickup-section .grid-wrapper .item-wrapper .caption {
        color: #030406;
        text-shadow: none;
        text-align: center; }
      #order-pickup-section .grid-wrapper .item-wrapper h2 {
        white-space: nowrap; }
      #order-pickup-section .grid-wrapper .item-wrapper .superscript {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300))); }
      #order-pickup-section .grid-wrapper .item-wrapper .caption {
        margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #order-pickup-section .grid-wrapper .item-wrapper {
      position: relative; }
      #order-pickup-section .grid-wrapper .item-wrapper::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: -1; }
      #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        max-width: 0; }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .cta-sml {
          background: #3b5998;
          color: #ffffff; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .cta-sml:hover {
            background: #030406;
            color: #ffffff; }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .or {
          font-weight: 700;
          background: #030406;
          border-radius: 50%;
          padding: calc(6px + (6 - 6) * ((100vw - 300px) / (1600 - 300)));
          margin: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300)));
          font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
          line-height: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number {
          font-weight: 900;
          color: #fe8600;
          white-space: nowrap;
          text-transform: uppercase;
          position: relative; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number::before {
            content: "";
            position: absolute;
            width: 120%;
            height: 200%;
            left: -5%;
            top: -50%;
            background: url("../img/brush-effects/brush-effect-01.png") 50% 50%/contain no-repeat;
            z-index: -1; }
          #order-pickup-section .grid-wrapper .item-wrapper .center-wrapper .contact-number::after {
            content: "CALL";
            position: absolute;
            color: #030406;
            font-weight: 400;
            left: 0;
            top: -80%;
            font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
            line-height: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300))); }
    #order-pickup-section .grid-wrapper .item-wrapper:last-child {
      position: relative; }
      #order-pickup-section .grid-wrapper .item-wrapper:last-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/homepage/patterned-background.jpg") 50% 50%/cover no-repeat; }
      #order-pickup-section .grid-wrapper .item-wrapper:last-child .cta-sml {
        background: #030406;
        color: #ffffff; }
        #order-pickup-section .grid-wrapper .item-wrapper:last-child .cta-sml:hover {
          background: #ffffff;
          color: #030406; }

/* Smartphones */
@media only screen and (max-width: 728px) {
  #delivery-option-section .center-wrapper .grid-wrapper {
    grid-template-columns: repeat(1, auto); }
  #order-pickup-section .grid-wrapper {
    grid-template-columns: repeat(1, auto); }
    #order-pickup-section .grid-wrapper .center-wrapper {
      flex-direction: column; } }
