/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fs()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
/*

    Colors

*/
/*

    Font Properties

*/
/*

    Margin Properties

*/
/*

    Padding Properties

*/
/*

	CSS Style for the Menu Section

*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 32px; }
  @media screen and (min-width: 320) {
    .hero {
      margin-top: 60px; } }
  @media screen and (min-width: 500px) {
    .hero {
      margin-top: 100px; } }
  @media screen and (min-width: 768px) {
    .hero {
      margin-top: 140px; } }
  @media screen and (min-width: 1024px) {
    .hero {
      margin-top: 150px; } }
  @media screen and (min-width: 320) {
    .hero {
      margin-bottom: 32px; } }
  @media screen and (min-width: 500px) {
    .hero {
      margin-bottom: 40px; } }
  @media screen and (min-width: 768px) {
    .hero {
      margin-bottom: 48px; } }
  @media screen and (min-width: 1024px) {
    .hero {
      margin-bottom: 56px; } }
  .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/menupage/wallpaper/_menu-wallpaper.jpg") 50% 50%/cover no-repeat; }
  .hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(20, 20, 20, 0.1);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.2) 90%, #141414 100%); }
  .hero .center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1000px; }
  .hero .sub-title {
    color: #fdfdfd;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 14px; }
    @media screen and (min-width: 320) {
      .hero .sub-title {
        font-size: 50px;
        line-height: 50px; } }
    @media screen and (min-width: 500px) {
      .hero .sub-title {
        font-size: 60px;
        line-height: 60px; } }
    @media screen and (min-width: 768px) {
      .hero .sub-title {
        font-size: 70px;
        line-height: 70px; } }
    @media screen and (min-width: 1024px) {
      .hero .sub-title {
        font-size: 80px;
        line-height: 80px; } }
    @media screen and (min-width: 320) {
      .hero .sub-title {
        margin-bottom: 14px; } }
    @media screen and (min-width: 500px) {
      .hero .sub-title {
        margin-bottom: 16px; } }
    @media screen and (min-width: 768px) {
      .hero .sub-title {
        margin-bottom: 18px; } }
    @media screen and (min-width: 1024px) {
      .hero .sub-title {
        margin-bottom: 20px; } }
  .hero .detail {
    color: #fdfdfd;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px; }
    @media screen and (min-width: 320) {
      .hero .detail {
        font-size: 16px;
        line-height: 22px; } }
    @media screen and (min-width: 500px) {
      .hero .detail {
        font-size: 18px;
        line-height: 24px; } }
    @media screen and (min-width: 768px) {
      .hero .detail {
        font-size: 20px;
        line-height: 26px; } }
    @media screen and (min-width: 1024px) {
      .hero .detail {
        font-size: 22px;
        line-height: 28px; } }
    @media screen and (min-width: 320) {
      .hero .detail {
        margin-bottom: 32px; } }
    @media screen and (min-width: 500px) {
      .hero .detail {
        margin-bottom: 40px; } }
    @media screen and (min-width: 768px) {
      .hero .detail {
        margin-bottom: 48px; } }
    @media screen and (min-width: 1024px) {
      .hero .detail {
        margin-bottom: 56px; } }
  .hero .cta {
    font-size: 12px;
    line-height: 18px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #030406;
    background: #fe8600; }
    @media screen and (min-width: 320) {
      .hero .cta {
        font-size: 12px;
        line-height: 18px; } }
    @media screen and (min-width: 500px) {
      .hero .cta {
        font-size: 14px;
        line-height: 20px; } }
    @media screen and (min-width: 768px) {
      .hero .cta {
        font-size: 16px;
        line-height: 22px; } }
    @media screen and (min-width: 1024px) {
      .hero .cta {
        font-size: 18px;
        line-height: 24px; } }
    .hero .cta:hover {
      color: #fe8600;
      background: #030406; }

#menu-items .sub-title {
  color: #fdfdfd;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 32px; }
  @media screen and (min-width: 320) {
    #menu-items .sub-title {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (min-width: 500px) {
    #menu-items .sub-title {
      font-size: 24px;
      line-height: 30px; } }
  @media screen and (min-width: 768px) {
    #menu-items .sub-title {
      font-size: 28px;
      line-height: 34px; } }
  @media screen and (min-width: 1024px) {
    #menu-items .sub-title {
      font-size: 32px;
      line-height: 38px; } }
  @media screen and (min-width: 320) {
    #menu-items .sub-title {
      margin-bottom: 32px; } }
  @media screen and (min-width: 500px) {
    #menu-items .sub-title {
      margin-bottom: 40px; } }
  @media screen and (min-width: 768px) {
    #menu-items .sub-title {
      margin-bottom: 48px; } }
  @media screen and (min-width: 1024px) {
    #menu-items .sub-title {
      margin-bottom: 56px; } }

#menu-items #gr-rotisserie {
  max-width: 1000px; }
  #menu-items #gr-rotisserie .gr-item-2 .gr-item-name {
    position: relative; }
    #menu-items #gr-rotisserie .gr-item-2 .gr-item-name::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      top: -3px;
      background: url("../img/menupage/rotisserie/chili.png") 50% 50%/cover no-repeat;
      z-index: 0; }
  #menu-items #gr-rotisserie .gr-item-3 .gr-item-name {
    position: relative; }
    #menu-items #gr-rotisserie .gr-item-3 .gr-item-name::before {
      content: "ALL NEW";
      position: absolute;
      top: -10px;
      font-weight: 400;
      color: #e74c3c;
      font-size: 10px;
      line-height: 10px; }
      @media screen and (min-width: 320) {
        #menu-items #gr-rotisserie .gr-item-3 .gr-item-name::before {
          font-size: 10px;
          line-height: 10px; } }
      @media screen and (min-width: 500px) {
        #menu-items #gr-rotisserie .gr-item-3 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 768px) {
        #menu-items #gr-rotisserie .gr-item-3 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 1024px) {
        #menu-items #gr-rotisserie .gr-item-3 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
  #menu-items #gr-rotisserie .gr-item-img-1 {
    background: url("../img/menupage/rotisserie/original-chicken.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-rotisserie .gr-item-img-2 {
    background: url("../img/menupage/rotisserie/chili-chicken.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-rotisserie .gr-item-img-3 {
    background: url("../img/menupage/rotisserie/pork-neck.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }

#menu-items #gr-sandwhich {
  max-width: 680px; }
  #menu-items #gr-sandwhich .gr-item-2 .gr-item-name {
    position: relative; }
    #menu-items #gr-sandwhich .gr-item-2 .gr-item-name::before {
      content: "NEW RECIPE";
      position: absolute;
      top: -10px;
      font-weight: 400;
      color: #e74c3c;
      font-size: 10px;
      line-height: 10px; }
      @media screen and (min-width: 320) {
        #menu-items #gr-sandwhich .gr-item-2 .gr-item-name::before {
          font-size: 10px;
          line-height: 10px; } }
      @media screen and (min-width: 500px) {
        #menu-items #gr-sandwhich .gr-item-2 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 768px) {
        #menu-items #gr-sandwhich .gr-item-2 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 1024px) {
        #menu-items #gr-sandwhich .gr-item-2 .gr-item-name::before {
          font-size: 12px;
          line-height: 12px; } }
  #menu-items #gr-sandwhich .gr-item-img-1 {
    background: url("../img/menupage/sandwhich/garlic-spicy-aioli.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sandwhich .gr-item-img-2 {
    background: url("../img/menupage/sandwhich/barbecue-chicken.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }

#menu-items #gr-sides {
  max-width: 1000px; }
  #menu-items #gr-sides .gr-item .gr-item-img {
    height: 100px;
    margin-bottom: 12px; }
    @media screen and (min-width: 320) {
      #menu-items #gr-sides .gr-item .gr-item-img {
        margin-bottom: 12px; } }
    @media screen and (min-width: 500px) {
      #menu-items #gr-sides .gr-item .gr-item-img {
        margin-bottom: 14px; } }
    @media screen and (min-width: 768px) {
      #menu-items #gr-sides .gr-item .gr-item-img {
        margin-bottom: 16px; } }
    @media screen and (min-width: 1024px) {
      #menu-items #gr-sides .gr-item .gr-item-img {
        margin-bottom: 18px; } }
  #menu-items #gr-sides .gr-item .gr-item-detail-wrapper {
    margin: 0; }
    #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-name {
      margin: 0; }
    #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-desc {
      font-size: 10px;
      line-height: 10px; }
      @media screen and (min-width: 320) {
        #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-desc {
          font-size: 10px;
          line-height: 10px; } }
      @media screen and (min-width: 500px) {
        #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-desc {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 768px) {
        #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-desc {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 1024px) {
        #menu-items #gr-sides .gr-item .gr-item-detail-wrapper .gr-item-desc {
          font-size: 12px;
          line-height: 12px; } }
  #menu-items #gr-sides .gr-item .gr-price-wrapper {
    margin: 0; }
  #menu-items #gr-sides .gr-item-img-1 {
    background: url("../img/menupage/sides/steamed-brocolli-carrots.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sides .gr-item-img-2 {
    background: url("../img/menupage/sides/shan-dripping-potatoes.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sides .gr-item-img-3 {
    background: url("../img/menupage/sides/cayenne-spicy-buttercorn.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sides .gr-item-img-4 {
    background: url("../img/menupage/sides/white-rice.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sides .gr-item-img-5 {
    background: url("../img/menupage/sides/sticky-rice.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }
  #menu-items #gr-sides .gr-item-img-6 {
    background: url("../img/menupage/sides/sauces.jpg") 50% 50%/cover no-repeat;
    z-index: 0; }

#order {
  background: #141414; }
  #order .title {
    color: #fdfdfd;
    text-align: center; }
    #order .title span {
      color: #ffe074;
      white-space: nowrap; }
  #order .title:last-child {
    color: #fe8600;
    margin-bottom: 32px; }
    @media screen and (min-width: 320) {
      #order .title:last-child {
        margin-bottom: 32px; } }
    @media screen and (min-width: 500px) {
      #order .title:last-child {
        margin-bottom: 40px; } }
    @media screen and (min-width: 768px) {
      #order .title:last-child {
        margin-bottom: 48px; } }
    @media screen and (min-width: 1024px) {
      #order .title:last-child {
        margin-bottom: 56px; } }
  #order .center-wrapper:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    #order .center-wrapper:last-child .cta {
      font-size: 14px;
      line-height: 20px;
      color: #fdfdfd;
      background: #3b5998; }
      @media screen and (min-width: 320) {
        #order .center-wrapper:last-child .cta {
          font-size: 16px;
          line-height: 22px; } }
      @media screen and (min-width: 500px) {
        #order .center-wrapper:last-child .cta {
          font-size: 18px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) {
        #order .center-wrapper:last-child .cta {
          font-size: 20px;
          line-height: 26px; } }
      @media screen and (min-width: 1024px) {
        #order .center-wrapper:last-child .cta {
          font-size: 22px;
          line-height: 28px; } }
      #order .center-wrapper:last-child .cta:hover {
        color: #3b5998;
        background: #fdfdfd; }
    #order .center-wrapper:last-child .circle {
      color: #030406;
      font-weight: 700;
      background: #fdfdfd;
      border-radius: 50%;
      font-size: 10px;
      line-height: 10px;
      margin: 14px;
      padding: 6px; }
      @media screen and (min-width: 320) {
        #order .center-wrapper:last-child .circle {
          font-size: 10px;
          line-height: 10px; } }
      @media screen and (min-width: 500px) {
        #order .center-wrapper:last-child .circle {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 768px) {
        #order .center-wrapper:last-child .circle {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 1024px) {
        #order .center-wrapper:last-child .circle {
          font-size: 12px;
          line-height: 12px; } }
      @media screen and (min-width: 320) {
        #order .center-wrapper:last-child .circle {
          margin: 14px; } }
      @media screen and (min-width: 500px) {
        #order .center-wrapper:last-child .circle {
          margin: 16px; } }
      @media screen and (min-width: 768px) {
        #order .center-wrapper:last-child .circle {
          margin: 18px; } }
      @media screen and (min-width: 1024px) {
        #order .center-wrapper:last-child .circle {
          margin: 20px; } }
      @media screen and (min-width: 320) {
        #order .center-wrapper:last-child .circle {
          padding: 6px; } }
      @media screen and (min-width: 500px) {
        #order .center-wrapper:last-child .circle {
          padding: 6px; } }
      @media screen and (min-width: 768px) {
        #order .center-wrapper:last-child .circle {
          padding: 6px; } }
      @media screen and (min-width: 1024px) {
        #order .center-wrapper:last-child .circle {
          padding: 6px; } }
    #order .center-wrapper:last-child p {
      color: #fdfdfd;
      white-space: nowrap; }
      #order .center-wrapper:last-child p span {
        font-weight: 900; }

#delivery {
  background: #fdfdfd; }
  #delivery .center-wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #delivery .title {
    color: #030406;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 14px; }
    @media screen and (min-width: 320) {
      #delivery .title {
        font-size: 50px;
        line-height: 50px; } }
    @media screen and (min-width: 500px) {
      #delivery .title {
        font-size: 60px;
        line-height: 60px; } }
    @media screen and (min-width: 768px) {
      #delivery .title {
        font-size: 70px;
        line-height: 70px; } }
    @media screen and (min-width: 1024px) {
      #delivery .title {
        font-size: 80px;
        line-height: 80px; } }
    @media screen and (min-width: 320) {
      #delivery .title {
        margin-bottom: 14px; } }
    @media screen and (min-width: 500px) {
      #delivery .title {
        margin-bottom: 16px; } }
    @media screen and (min-width: 768px) {
      #delivery .title {
        margin-bottom: 18px; } }
    @media screen and (min-width: 1024px) {
      #delivery .title {
        margin-bottom: 20px; } }
  #delivery .cta {
    color: #fe8600;
    background: #030406; }
    #delivery .cta:hover {
      color: #030406;
      background: #fe8600; }

/* Smartphones */
@media only screen and (max-width: 600px) {
  #delivery .center-wrapper {
    align-items: flex-start; } }
