/*
    Font Style
*/
/*
    Font Sizes
*/
/*
    Navigation Bar
*/
/*
    Call To Action
*/
/*
    Margin & Padding
*/
/*
    Colors
*/
/*

    Padding

*/
/*

    Margin

*/
/*

    Colors

*/
/*

    Fontsizes

*/
/*

    breakpoints

*/
/*

    setting fontsize

*/
/*

    setting lineheight property - call in set-fontsize()

*/
/*

    setting margin

*/
/*

    setting padding

*/
/*

	setting CTA static and hover colors

*/
/*

	Set background image

*/
/* ====================

//     NAVIGATION

======================*/
#desktop-nav {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #141414;
  background: linear-gradient(0deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.1) 10%, rgba(20, 20, 20, 0.2) 20%, rgba(20, 20, 20, 0.3) 30%, #141414 100%);
  position: absolute; }
  #desktop-nav .center {
    height: calc(100px + (160 - 100) * ((100vw - 300px) / (1600 - 300)));
    max-height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))); }
    #desktop-nav .center .nav-items {
      display: flex;
      align-items: center; }
      #desktop-nav .center .nav-items .logo {
        width: calc(80px + (140 - 80) * ((100vw - 300px) / (1600 - 300)));
        height: calc(80px + (140 - 80) * ((100vw - 300px) / (1600 - 300)));
        margin-right: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
        position: relative; }
        #desktop-nav .center .nav-items .logo::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url("../img/main-logo.png") 50% 50%/contain no-repeat;
          z-index: -1; }
      #desktop-nav .center .nav-items .nav-ul {
        display: flex;
        align-items: center; }
        #desktop-nav .center .nav-items .nav-ul .nav-li {
          padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
          #desktop-nav .center .nav-items .nav-ul .nav-li a {
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
            color: #ffffff;
            font-weight: 300; }
            #desktop-nav .center .nav-items .nav-ul .nav-li a::before {
              background: #fe8600; }
    #desktop-nav .center .order-now {
      font-family: "Lato", sans-serif;
      font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 900;
      color: #030406;
      white-space: nowrap;
      text-transform: uppercase;
      text-shadow: none;
      position: relative; }
      #desktop-nav .center .order-now::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        left: -6%;
        top: -10%;
        background: url("../img/brush-effects/brush-effect-03.png") 50% 50%/cover no-repeat;
        z-index: -1; }
      #desktop-nav .center .order-now::after {
        content: "ORDER NOW";
        position: absolute;
        color: #ffffff;
        font-weight: 400;
        left: 0;
        top: -80%;
        font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
        line-height: normal; }

#mobile-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  z-index: 99;
  display: none;
  background: #030406;
  align-items: center;
  justify-content: center; }
  #mobile-nav .center {
    padding: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
    display: flex;
    flex-direction: column;
    align-items: center; }
    #mobile-nav .center .nav-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300))); }
      #mobile-nav .center .nav-items .logo {
        width: calc(120px + (140 - 120) * ((100vw - 300px) / (1600 - 300)));
        height: calc(120px + (140 - 120) * ((100vw - 300px) / (1600 - 300)));
        margin-bottom: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
        position: relative; }
        #mobile-nav .center .nav-items .logo::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url("../img/main-logo.png") 50% 50%/contain no-repeat;
          z-index: -1; }
      #mobile-nav .center .nav-items .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #mobile-nav .center .nav-items .nav-ul .nav-li {
          padding: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300))) 0; }
          #mobile-nav .center .nav-items .nav-ul .nav-li a {
            font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
            color: #ffffff;
            font-weight: 300; }
            #mobile-nav .center .nav-items .nav-ul .nav-li a::before {
              background: #fe8600; }
    #mobile-nav .center .order-now {
      font-family: "Lato", sans-serif;
      font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 900;
      color: #030406;
      white-space: nowrap;
      text-transform: uppercase;
      text-shadow: none;
      position: relative; }
      #mobile-nav .center .order-now::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        left: -6%;
        top: -10%;
        background: url("../img/brush-effects/brush-effect-03.png") 50% 50%/cover no-repeat;
        z-index: -1; }
      #mobile-nav .center .order-now::after {
        content: "ORDER NOW";
        position: absolute;
        color: #ffffff;
        font-weight: 400;
        left: 0;
        top: -80%;
        font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
        line-height: normal; }
    #mobile-nav .center .social-ul {
      display: flex;
      margin-bottom: calc(64px + (128 - 64) * ((100vw - 300px) / (1600 - 300))); }
      #mobile-nav .center .social-ul .social-li {
        padding: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
        #mobile-nav .center .social-ul .social-li .social-button > i {
          color: #ffffff;
          font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
          line-height: normal; }

#hamburger {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #030406; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fe8600; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

@media (max-width: 728px) {
  #desktop-nav {
    display: none; }
  #hamburger {
    display: block; }
  #mobile-nav {
    display: flex; } }

/* Landscape */
@media (max-height: 500px) {
  #desktop-nav {
    display: none; }
  #hamburger {
    display: block; }
  #mobile-nav {
    display: flex;
    overflow-y: scroll;
    align-items: flex-start; } }
